In [1]:
import pandas as pd
from pathlib import Path

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import sys

In [3]:
#Load all the data and drop first column each time
df_jan = pd.read_csv('GHI01-Jan-202228-Feb-2022.csv', names=['Id', 'Date', 'Value']) 
df_jan = df_jan.iloc[1: , :] 
df_mar = pd.read_csv('GHI01-Mar-202230-Apr-2022.csv', names=['Id', 'Date', 'Value']) 
df_mar = df_mar.iloc[1: , :] 
df_may = pd.read_csv('GHI01-May-202230-Jun-2022.cvs', names=['Id', 'Date', 'Value']) 
df_may = df_may.iloc[1: , :] 
df_jul = pd.read_csv('GHI01-Jul-202231-Aug-2022.cvs', names=['Id', 'Date', 'Value']) 
df_jul = df_jul.iloc[1: , :]
df_sep = pd.read_csv('GHI01-Sep-202231-Oct-2022.cvs', names=['Id', 'Date', 'Value']) 
df_sep = df_sep.iloc[1: , :]

In [10]:
#create one dataframe for all data
df = pd.concat([df_jan,df_mar,df_may,df_jul,df_sep])
df=df.drop(['Id'], axis=1)
df['Value']=df['Value'].astype(float)

In [11]:
df["Date"]=df["Date"].str.replace("Jan","01")
df["Date"]=df["Date"].str.replace("Feb","02")
df["Date"]=df["Date"].str.replace("Mar","03")
df["Date"]=df["Date"].str.replace("Apr","04")
df["Date"]=df["Date"].str.replace("May","05")
df["Date"]=df["Date"].str.replace("Jun","06")
df["Date"]=df["Date"].str.replace("Jul","07")
df["Date"]=df["Date"].str.replace("Aug","08")
df["Date"]=df["Date"].str.replace("Sep","09")
df["Date"]=df["Date"].str.replace("Oct","10")
df["Date"]=df["Date"].str.replace("Nov","11")
df["Date"]=df["Date"].str.replace("Dec","12")

In [12]:
#Transformer en datatime
df['Date'] = pd.to_datetime(df['Date'], format="%d-%m-%Y %H:%M:%S")

                 Date     Value
1 2022-01-01 00:00:00  1.210000
2 2022-01-01 00:01:00  1.249667
3 2022-01-01 00:02:00  1.315333
4 2022-01-01 00:03:00  1.205167
5 2022-01-01 00:04:00  1.344333